.navbar-default {
	background-color: #ff9900;
}

/*.navbar-collapse {
	background-color: #ffff99;
} */

.navbar-brand h1 {
	color: black;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.5em;
}

#nav-list a {
	color: black;
	font-size: 1.5em;
}

#nav-list hr {
	margin-top: 10px;
	margin-bottom: 10px;
	color: black;
}

#item-text {
	background-color: lightgrey;
    padding: 15px
}

#item-title {
	margin-top: 5px;
    margin-bottom: 15px;
    font-size: 1.5em;
    font-weight: bold;
}

#menu-header {
	margin-bottom: 30px
}